
<MudAppBar Color="Color.Primary" Fixed="false" Dense="true">
    <MudText Class="pa-4"> Ilmhub OJ </MudText>
    <MudMenu Class="pa-2 ml-8" StartIcon="@Icons.Filled.Home" Label=" Home " Variant="Variant.Filled" Color="Color.Primary">
    </MudMenu>
    <MudMenu Class="pa-2" StartIcon="@Icons.Filled.Grain" Label=" Problems " Variant="Variant.Filled" Color="Color.Primary">
    </MudMenu>
    <MudMenu Class="pa-2" StartIcon="@Icons.Filled.Hub" Label=" Contests " Variant="Variant.Filled" Color="Color.Primary">
    </MudMenu>
    <MudMenu Class="pa-2" StartIcon="@Icons.Filled.QueryStats"  Label=" Status " Variant="Variant.Filled" Color="Color.Primary">
    </MudMenu>
    <MudMenu Class="pa-2" StartIcon="@Icons.Filled.Escalator" EndIcon="@Icons.Filled.KeyboardArrowDown" Label="Rank" Color="Color.Primary" Variant="Variant.Filled">
    <MudMenuItem>ACM Rank</MudMenuItem>
    <MudMenuItem>OI Rank</MudMenuItem>
    </MudMenu>
    <MudMenu Class="pa-2 mr-16" StartIcon="@Icons.Filled.GTranslate" EndIcon="@Icons.Filled.KeyboardArrowDown" Label="English" Color="Color.Primary" Variant="Variant.Filled">
    <MudMenuItem>Uzbek</MudMenuItem>
    <MudMenuItem>Rus</MudMenuItem>
    </MudMenu>
    <MudItem xs="12" md="12">
        <div Class="d-flex flex-row-reverse py-2 px-1">
            <MudMenu Class="pa-2 mx-2" Label="Login" Variant="Variant.Outlined" Color="Color.Secondary">
            </MudMenu>
            <MudMenu Class="pa-2 mx-2" Label="Sign Up" Variant="Variant.Outlined" Color="Color.Secondary">
            </MudMenu>
        </div>
    </MudItem>
</MudAppBar>